[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "PhpstormProjects/niklas-coocktips/quickstart/themes/ananke"]
	path = PhpstormProjects/niklas-coocktips/quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
